<div class="col-xs-12 content events expand hero">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">
			<h2 class="">Events</h2>
			<p>Are you looking for opportunities to get to know others in Tribe and have a blast together? Our events are built for exactly that. Check here often to get a list of times and places for events around the city.</p>
			<table class="table table-hover table-events" ng-class="{'table-events-today': eventToday}">
				<thead>
					<tr>
						<th class="h4">Date</th>
						<th class="h4">Event</th>
						<th class="h4">Time</th>
						<th class="h4">Place</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in events | orderBy: 'start.dateTime' | limitTo: 6">
						<th><span ng-show="event.today" title="Today" class="glyphicon glyphicon-bell pull-left"></span>{{event.start.dateTime | date:"MMMM d"}}</th>
						<td>{{event.summary}} <span ng-show="event.service" class="icon icon-small tribe text-light"></span></td>
						<td>{{event.start.dateTime | date:"h:mm a"}}</td>
						<td>{{event.location}}</td>
					</tr>
					<tr ng-show="!events.length">
						<td colspan="4">No Events to Display at this time.</td>
					</tr>
				</tbody>
				<tbody>
					<tr ng-repeat="event in recurringEvents | orderBy: 'start.dateTime'">
						<th><span ng-show="event.today" title="Today" class="glyphicon glyphicon-bell pull-left"></span>{{event.start.dateTime | date:"MMMM d"}}</th>
						<td>{{event.summary}}</td>
						<td>{{event.start.dateTime | date:"h:mm a"}}</td>
						<td>{{event.location}}</td>
					</tr>
				</tbody>
			</table>
			<div class="quick-links">
				<nav>
					<a href="https://www.google.com/calendar/ical/bcctribe%40gmail.com/public/basic.ics" target="_blank" class="button-flat">Import Calendar</a>
				</nav>
			</div>
		</div>
	</div>
</div>