<div class="col-xs-12 content missions expand hero text-dark">
	<div class="row">
		<div class="hidden-xs hidden-sm col-md-1 pull-right"></div>
		<div class="col-xs-12 col-sm-7 col-md-6 pull-right">
			<h2 class="color-expand">Missions</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="icon icon-medium expand no-hover"></div>
					<h4>Tribe Missions Trips: Taken</h4>
					<ul class="no-bullets no-padding">
						<li>Guadalajara, Mexico</li>
						<li>Dream Center, LA, CA, USA</li>
						<li>Managua, Nicaragua</li>
						<li>Washington DC, USA</li>
						<li>Thessaloniki, Greece</li>
						<li>Omaha, NE, USA</li>
						<li>Maastricht, Netherlands</li>
						<li>Kolkata, India</li>
						<li>Bailen, Spain</li>
						<li>San Diego, CA, USA</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="icon icon-medium expand no-hover"></div>
					<h4>Tribe Missions Trips: Upcoming</h4>
					<ul class="no-bullets no-padding">
						<li>Zambia (2016)</li>
						<li>Costa Rica (2016)</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 bg-blur-xs bg-lighten">
			<h3 style="padding-bottom: 10px;">Reach Out</h3>
			<p><strong>What opportunities do I have to learn how to find my purpose and EXPAND the kingdom?</strong></p>
			<p>We believe in taking the message of Jesus Christ and His love to every nation. There are opportunities for you to join a short term missions trip at Tribe, and to partner with full time missionaries around the country and the world. If you are interested in pursuing missions full time we can help you to chart your path towards that important calling, too.</p>
			<p>Listed below are missions trips we've taken, missions trips we are about to embark on, and a list of missionaries from Tribe that are serving in the field currently.</p>
		</div>
	</div>
</div>