<div class="col-xs-12 content our-leaders build hero">
	<div class="row">
		<div class="hidden-xs col-sm-2 col-md-1 pull-right"></div>
		<div class="col-xs-12 col-sm-3 col-md-5 pull-right">
			<h2 class="color-build">Our Leaders</h2>
			<div class="icon icon-large build no-hover"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
			<h3 class="text-dark">Leadership</h3>
			<p class="text-dark">Chances are if you've been to Tribe, you've connected with one of our friendly leaders. We practice a God-centered, Word-focused peer leadership. Our leaders don't claim to be perfect, but they definitely desire to serve and lead Tribe into being the type of place where you can LIVE, BUILD and EXPAND the kingdom. Look for a leader at any Tribe gathering, event, or small group. Contact us at <a href="mailto:BCCTribe@gmail.com" class="color-build">BCCTribe@gmail.com</a> if you have questions about what we do or if you would like to get more information on personal discipleship opportunities.</p>
		</div>
	</div>
</div>
