<div ng-if="type == 'live'" class="col-xs-12 content live hero">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4">
			<h2 class="color-live">Live</h2>
			<div class="icon icon-large live no-hover"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 bg-blur-xs bg-darken">
			<h3>Together</h3>
			<p>The most basic and necessary part of our community is the component of everyday living. Jesus tells us in John 10:10 that He came to give us life and life to the fullest. Each person is growing in their understanding of how to live that type of life with and for God. This is what we call Kingdom Living. This journey of discovery is fun, especially when we do it together. We hope you join us as we come to value God's presence more and more over the course of this critical time in life.</p>
			<p>When you see a key at Tribe we hope you start to think of LIVING. Jesus (the King) has given us the key to eternal life. We don't want to wait until we are older to start practicing this type of life, we want to begin now. To Live for Christ truly is the key to that abundant life He promises us.</p>
			<p>Word and worship are two incredible keys that help us live for God. We live both of these principles together in our services and our small groups. We also incorporate them in our everyday lives. Individually we are committed to reading God's word and worshipping Him everyday.</p>
			<div class="quick-links">
				<nav>
					<a href="#/devotions" class="button-flat">Devotions</a>
				</nav>
			</div>
		</div>
	</div>
</div>
<div ng-if="type == 'build'" class="col-xs-12 content build hero">
	<div class="row">
		<div class="hidden-xs col-sm-2 col-md-1 pull-right"></div>
		<div class="col-xs-12 col-sm-3 col-md-5 pull-right">
			<h2 class="color-build">Build</h2>
			<div class="icon icon-large build no-hover"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-1">
			<h3>Belong</h3>
			<p>We LIVE in Christ and we BUILD in Him, too. True friendships are the way we build each other up. We strive always to be a safe place where everyone can belong. Our motto, "We are what we become together" emphasizes how each person contributes to who we are as a group. This can only remain if each person chooses to love and support one another. Love and acceptance opens all kinds of doors for us to grow together and saturate our community with God's heart. You can expect to gain a supporting cast of friends at Tribe who will encourage you in your walk with God. Supporting friends in the purpose He has given is a favorite way to build in Christ (see the Expand page).</p>
			<p>We believe God's gift of friendship intends us to use them to help build each other up (Hebrews 10:25). When you see a door in Tribe we hope you think of BUILDING. There is a strong warning that Jesus gave to the leaders of His day that they were not entering the Kingdom of God, and they were not letting others into it either (Luke 11:52). The door represents building because the right friendships can become the entry point for others to experience greater growth in their lives. To BUILD each other up, we need to view friendships as openings for more honesty, understanding and development. In order for us to build each up more intentionally, we provide community events, small groups, mentorships, and leadership opportunities.</p>
			<div class="quick-links">
				<nav>
					<a href="#/small-groups" class="button-flat">Small Groups</a>
					<a href="#/our-leaders" class="button-flat">Our Leaders</a>
				</nav>
			</div>
		</div>
	</div>
</div>
<div ng-if="type == 'expand'" class="col-xs-12 content expand hero">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-sm-offset-2 col-md-offset-4">
			<h2 class="color-expand">Expand</h2>
			<div class="icon icon-large expand no-hover"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h3 class="text-dark">Kingdom Expansion</h3>
			<p class="text-dark">Tribe is not just about today, we are looking to tomorrow as well. Ephesians 2:10 (NIV) informs us that, "&hellip;we are God's handiwork, created in Christ Jesus to do good works, which God prepared in advance for us to do." For this reason, we strive in our community to find and develop those good works God has for each and everyone of us. We want to see God's kingdom expand to reach every person from every nation in our lifetime.</p>
			<p class="text-dark">We have several avenues for you to find your purpose and to develop the character necessary to do it for the long haul. The houses was chosen as our symbol for EXPANSION because we believe when you live your purpose you will actively expand the kingdom to reach people who don't yet know Jesus. You'll notice the symbol chosen for Tribe's logo is a house (see LIVE page for the full explanation). It only makes sense then that all of our purposes and callings are best represented as a neighborhood of houses. To urgently share this kingdom life with others and to multiply in the process means we can't stay where we are today. This is the perfect time in your young adult life to help expand the kingdom to the world. If you don't know your purpose yet and would like to find it, Tribe will help you do that.</p>
			<div class="quick-links">
				<nav>
					<a href="#/events" class="button-flat">Events</a>
					<a href="#/influence-assessment" class="button-flat">Influence Assessment</a>
					<a href="#/missions" class="button-flat">Missions</a>
					<a href="https://www.surveymonkey.com/r/TZV9GWR" target="_blank" class="button-flat">Get Involved</a>
				</nav>
			</div>
		</div>
	</div>
</div>