<div class="col-xs-12 content small-groups build hero">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-6 col-sm-offset-5">
			<h2 class="color-build">Small Groups</h2>
			<p>Our small groups change every three months so be sure to check back regularly for the newest listings.</p>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="icon icon-medium build no-hover"></div>
					<h4>Journey Groups</h4>
					<p>Coming January 2016</p>
				</div>
				<div class="col-xs-12 col-sm-8 bg-blur-xs bg-darken">
					<div class="icon icon-medium build no-hover"></div>
					<h4>Seek First</h4>
					<p>We call our morning Bible Studies Seek First because we walking in the command of Jesus to "seek first His kingdom and His righteousness" (Matt 6:33, NIV). When you come to a Seek First group you don't have to expect too much of yourself and others. Just come with a bible and an open mind.</p>
				</div>
			</div>
		</div>
	</div>
</div>